:root {
  --background: #9e6f21;
  --paper: #ffeeb3;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
}

#page {
  background-color: var(--paper);
  width: 800px;
  height: 700px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 5%;
  position: relative;
}

.task {
  border-bottom: solid 1px #000;
  height: 44px;
  display: flex;
  width: 90%;
  margin-left: 5%;
  position: relative;
}

.task.date {
  font-family: "Patrick Hand", cursive;
  font-size: 2rem;
  justify-content: flex-end;
  vertical-align: bottom;
  margin-top: 4%;
}

.task.date input {
  font-family: "Patrick Hand", cursive;
  font-size: 2rem;
  width: 28px;
  border: none;
  background-color: transparent;
  outline: none;
  padding-top:20px
}

.task.date span {
  padding-top: 10px;
}

.task.wait .wait-checkbox {
  background-color: var(--paper);
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 50%;
  border: 3px solid gray;
  bottom: 0;
  left: 3%;
  z-index: 1;
}
/* 
.task.wait .wait-checkbox {
  top: 67px;
} */

.checkbox {
  vertical-align: bottom;
  position: relative;
  flex-basis: 8%;
}

.box-checkbox {
  width: 16px;
  height: 16px;
  background-color: var(--paper);
  position: absolute;
  border-radius: 50%;
  border: 3px solid #000;
  bottom: 0;
  left: 38%;
}

.checkbox img {
  width: 30px;
  height: 30px;
  margin: 15px auto 0 auto;
  display: block;
}

.txtTask {
  width: 580px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: none;
  font-size: 2rem;
  flex-basis: 92%;
  padding-top: 8px;
  font-family: "Patrick Hand", cursive;
}

.task.done .txtTask {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  pointer-events: none;
}


.task.done .box-checkbox::before {
  content: "";
  display: inline-block;
  transform: rotate(45deg);
  height: 18px;
  width: 6px;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  position: relative;
  left: 50%;
  bottom: 50%;
}
